body {
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.card {
  border: none;
}

.card {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.9);
}

.card img{
  width: 150px;
}

.display-3 {
  color: #0d6efd;
}

#weatherResults img {
  width: 100%;
}

::placeholder {
  color: gray;
  opacity: 1;
}